:root{
    font-family: sans-serif;
    --var-black: #000;
}

main{
    padding: 1rem 20%;
}

h1{
    font-size: 32px;
    line-height: 120%;
    margin: 1rem 0;
}

h2{
    font-weight: 400;
    font-size: 18px;
}

.question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid var(--var-black);
    padding-bottom: 8px;
    border-width: 0 0 1px 0;
    margin-bottom: 8px;
    cursor: pointer;
}

.question-text{
    font-size: 18px;
    line-height: 140%;
}

.arrow{
    width: 15px;
    height: 15px;
    background-color: var(--var-black);
    clip-path: polygon(0% 40%, 60% 40%, 25% 0, 50% 0, 100% 50%, 50% 100%, 25% 100%, 60% 60%, 0 60%);
}