#card-box{
    padding: 0% 10%;
    display: flex;
    justify-content: center;
}

.plant-card{
    background-color: yellow;
    width: 100px;
    height: 100px;
    transition: all 1s;
    margin: auto 1rem;
}

.plant-card-text{
    color: aliceblue;
    transition: all 1s;
    position: relative;
    top: -1rem;
}

.plant-dummy-card{
    background-color: yellow;
    width: 100px;
    height: 100px;
    transition: all 1s;
    margin: auto 1rem;
}

.plant-dummy-card:hover{
    transform: rotate(30deg);
    box-shadow: 0px 5px 34px (0, 0, 0, 2);
}

.plant-dummy-card:hover > .plant-card-text{
    /* margin: 0.5rem 0 0.25rem 0; */
    top: 1rem;
    color: aqua;
}

.plant-card:hover{

}

.plant-card:hover > .plant-card-text{

}
/* 
@keyframes card-hover{
    100% {transform: rotate(30deg);}
} */