:root{
    --color-gray: #c6c6c6;
    --color-black: #1d1d1d;
}

main{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3px;
}

.photo-box{
    position: relative;
}

.photo{
    position: absolute;
    overflow: hidden;
    transition-property: max-height, opacity;
    transition-duration: 500ms;
    /* max-height: 0; */
    opacity: 0;
}

.photo.active{
    /* max-height: 1000px; */
    opacity: 1;
}

.main-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 2rem;
    margin: 20%;
}

.text-box{
    display: flex;
    align-items: flex-start;
}

.text{
    color: var(--color-gray);
    transition-property: color;
    transition-duration: 500ms;
    cursor: default;
}

.active .text{
    color: var(--color-black);
}

.text-number{
    margin-right: 4px;
}

.text-main{
    font-weight: 600;
    font-size: 30px;
}