:root{
    --primary-color: #000;
    --background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 600ms;
    transition-property: color, background-color;
    --test: ease-in-out;
}

.dark{
    --primary-color: #fff;
    --background-color: #000;
}

body{
    margin: 2rem;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.has-transition{
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 600ms;
}

#header{
    display: flex;
    justify-content: space-between;
}

.header-column{
    flex: 1;
}

.header-text-container{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header-text{
    font-size: 20px;
}

.dark-mode-toggle{
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.top-left-square{
    display: inline-block;
    width: 30px;
    height: 40px;
    border-color: var(--primary-color);
    border-style: solid;
    transform: rotate(34deg);
}

.top-left-sphere{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 50%;
}