:root{
    --primary-color: #000;
    --background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 600ms;
}

.dark{
    --primary-color: #fff;
    --background-color: #000;
}

body{
    color: var(--primary-color);
    background-color: var(--background-color);
}

.header{
    display: flex;
    justify-content: space-between;
}

.header-column{
    flex: auto;
}

.dark-mode-toggle{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
}