body{
    color: #33383D;
}

.responsive-box{
    display: flex;
    margin: 10% 1% 0 7.5%;
}

.text-box{
    display: flex;
    flex-direction: column;
    order: 1;
    padding-right: 1rem;
    width: 30%;
}

.photo-box{
    display: flex;
    order: 2;
    width: 70%;
}

.heading{
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.02em;
}

.paragraph{
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
}

.image{
    width: 300%;
}

/* tablet */
@media screen and (max-width: 1199px) {
    .heading{

    }
    
    .paragraph{
    
    }
    
    .image{
    
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .heading{

    }
    
    .paragraph{
    
    }
    
    .image{
    
    }
}