body{
    color: #33383D;
}

.responsive-box{
    display: flex;
    margin: 10% 1% 0 7.5%;
}

.text-box{
    display: flex;
    flex-direction: column;
    order: 1;
    padding-right: 1rem;
    width: 30%;
}

.photo-box{
    display: flex;
    order: 2;
    width: 70%;
}

.heading{
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.02em;
}

.paragraph{
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
}

.image-and-overlay{
    position: relative;
    transition-duration: 500ms;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.image{
    object-fit: cover;
    transition-duration: inherit;
    transition-property: opacity;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.image-and-overlay:hover > .image{
    opacity: 0.35;
}


.overlay-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 42%;
    left: 45%;
}

.overlay-header{
    display: flex;
    font-size: 25px;
    line-height: 38px;
}

.overlay-text{
    display: flex;
    font-size: 16px;
    line-height: 27px;
}

/* tablet */
@media screen and (max-width: 1199px) {
    .image{
    
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .image{
    
    }
}